#root {
  text-align: center;
}

.main-field {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.block-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button.start {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
